
*{
        font-family: 'Arial', sans-serif;
}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



/* nav bar styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    
    margin: 0 15px;
}
.first {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: medium;
    font-weight: bold;
}

.cart{
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: medium;
    }
.nav-links a {
    text-decoration: none;
    color: #333;
}

.nav-links a:hover {
    color: #007bff;
}


/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 40px 80px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-left: 20px;
    width: 400px;
}

.black{
    font-size: 30px;
    color: #000000;
}
.orange{
    font-size: 30px;
    color: #f1be06;
}
.banner-description{
    font-size: 15px;
    color: rgba(50, 50, 49, 0.694);
}

.banner-img{
    margin-left: 400px;
    width: 800px;
}

/* card styles */

.section-header {
    text-align: center;
    margin: 20px 0;
}

.section-header h2 {
    font-size: 2rem;
    color:  #000000;
}

.section-title-highlight {
    color: #f1be06;
}

.section-description
    {
        font-size: 1.2rem;
        color: #6e6969;
        margin-bottom: 20px;
    }

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
 
  max-width: 1200px;
  margin: 0 auto;

}

.card {
  width: 300px;
  border: 1px;
  text-align: center;
}
.card img {
  width: 100%;
  height: auto;
}
.card h3 {
  font-size: 1.2em;
}
.card p {
  font-size: 1em;
  color: #555;
}
.card button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  
  cursor: pointer;
}

/* flower badge styles */


.flowers-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
    margin: 30px 0;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 600px;
}

.main-img {
  width: 100%;
  height: auto;
  display: block;
}

.golden-logo {
  position: absolute;
  top: -120px;
  right: -110px;
  width: 300px;  
  height: auto;
  z-index: 2;
}

.list-heading{
    margin-left: 47px;
}

.list-items {
  padding: 5px;
  margin-top: 5px;
}
